html {
  scroll-behavior: smooth;
}

.nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 17vh;
  z-index: 1;
}

.nav p {
  float: left;
  color: white;
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.8vmax;
  padding-left: 3vw;
}

.nav a {
  font-family: 'Special Elite', cursive;
  float: right;
  display: block;
  color: white;
  padding: 3vh 2vw;
  font-size: 2vmax;
  text-decoration: none;
}

.nav a:hover {
  background: #C2C0BF;
  color: black;
}

main {
  margin-top: 18vh;
  text-align: justify;
  font-family: 'Special Elite', cursive;
  font-size: 2.5vw;
  padding: 1vh 10vw;
}

h2 {
  text-align: center;
}

main a:link {
  color: purple;
}

main a:hover {
  color: hotpink;
}

section {
  padding-top: 18vh;
}

/* Image carousel */
.slideshow-container {
/*   padding: 1vh 10vw; */
  max-width: 70vw;
  position: relative;
  margin: auto;
}


.slides {
/*   margin-top: 18vh; */
  display: none;
  width: 70vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.active {
  display: block;
}

  .prev, .next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 4vw;
}

.next {
  right: 0;
}

.play {
  border: none;
  background-color: transparent;
  left: 0%;
  position: absolute;
  top: 0%;
  width: auto;
  color: white;
  font-size: 4vw;
}
/* .myimages {
  width:40%; /* you can use % */
  /* height: auto;
} */


/* .form-item {

}  */
