html {
  scroll-behavior: smooth;
}

.nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 17vh;
}

.nav p {
  float: left;
  color: white;
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.8vw;
  padding-left: 3vw;
}

.nav a {
  font-family: 'Special Elite', cursive;
  float: right;
  display: block;
  color: white;
  padding: 3vh 2vw;
  font-size: 2vw;
  text-decoration: none;
}

.nav a:hover {
  background: #C2C0BF;
  color: black;
}

main {
  margin-top: 18vh;
  text-align: justify;
  font-family: 'Special Elite', cursive;
  font-size: 2.5vw;
  padding: 1vh 10vw;
}

h2 {
  text-align: center;
  /* font-size: 120%; */
}

main a:link {
  color: purple;
}

main a:hover {
  color: hotpink;
}

/* .myimages {
  width:40%; /* you can use % */
  /* height: auto;
} */


/* .form-item {

}  */
